@charset "UTF-8";
body {
  width: 100%;
  font-size: 16px; }

.container {
  width: 100%;
  overflow: hidden;
  margin-left: -0.05em; }

.top {
  background: linear-gradient(to left, #c79081 0%, #dfa579 100%);
  background: -moz-linear-gradient(to left, #c79081 0%, #dfa579 100%);
  background: -webkit-linear-gradient(to left, #c79081 0%, #dfa579 100%);
  background: -o-linear-gradient(to left, #c79081 0%, #dfa579 100%);
  text-align: center; }

.top {
  position: fixed;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 9999;
  right: 0;
  left: 0;
  top: 0; }
  .top .bars {
    position: absolute;
    left: 6%;
    top: 36%;
    color: #efefef; }
  .top h1 {
    display: inline-block;
    text-indent: 1.2em;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 1em 0.8em;
    padding: 0.8em 1em;
    color: #efefef;
    font-size: 1em; }

nav {
  position: fixed;
  z-index: 999;
  background: #58372b;
  width: 50%;
  left: -50%;
  bottom: 0; }
  nav li {
    line-height: 3.6em; }
    nav li a {
      position: relative;
      display: inline-block;
      width: 100%;
      text-indent: 33%;
      border-left: 0.4em solid transparent;
      font-size: 0.8em; }
      nav li a.actived {
        background: #46332c;
        border-left: 0.4em solid #C99280; }
      nav li a.home-link:before {
        content: "";
        color: #fff;
        font-size: 1.3em;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        /*--adjust as necessary--*/
        left: -1.2em; }
      nav li a.joinus-link:before {
        content: "";
        color: #fff;
        font-size: 1.2em;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        left: -1.3em;
        top: 0.1em; }
      nav li a.story-link:before {
        content: "";
        color: #fff;
        font-size: 1.2em;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        left: -1.3em;
        top: 0.1em; }
      nav li a.contact-link:before {
        content: "";
        color: #fff;
        font-size: 1.2em;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        left: -1.3em;
        top: 0.1em; }
    nav li:after {
      content: "";
      color: #fff;
      font-size: 1.2em;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      position: absolute;
      /*--adjust as necessary--*/
      right: 10%; }

.main {
  height: auto;
  position: relative;
  padding: 0; }
  .main .part-bg {
    width: 100%; }
  .main .block {
    position: relative;
    margin-bottom: -0.15em; }
  .main .part1 .img-food {
    position: absolute;
    width: 42%;
    right: 1em;
    top: 1em; }
  .main .part1 h2 {
    position: absolute;
    padding-bottom: 3px;
    left: 3.8em;
    top: 1.8em;
    color: #eee;
    text-shadow: 5px 2px 6px #333;
    font-size: 1em;
    font-weight: 600; }
  .main .part1 .slogan1 {
    position: absolute;
    width: 30%;
    left: 3em;
    top: 4em; }
  .main .part1 .reservate {
    position: absolute;
    left: 20%;
    top: 36%;
    background: rgba(66, 66, 66, 0.7);
    padding: 0.3em 0.8em;
    font-size: 1em;
    -moz-border-radius: 0.4em;
    /* Firefox */
    -webkit-border-radius: 0.4em;
    /* Safari 和 Chrome */
    -o-border-radius: 0.4em;
    /* Safari 和 Chrome */
    border-radius: 0.4em;
    /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    box-shadow: inset 0 0 40px 5px rgba(0, 0, 0, 0.3), 0 0 2px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000;
    margin: 10px 10px 20px;
    display: block;
    float: left;
    background: #CC9480;
    text-align: center;
    line-height: 40px; }
  .main .part2 .img-food2 {
    position: absolute;
    width: 50%;
    left: 12%;
    bottom: 0; }
  .main .part2 .slogan1 {
    position: absolute;
    width: 40%;
    right: 12%;
    top: 30%; }
  .main .part2 .slogan2 {
    position: absolute;
    width: 38%;
    right: 12.5%;
    top: 52%; }
  .main .part2 .slogan3 {
    position: absolute;
    width: 36%;
    right: 15%;
    top: 60%; }
  .main .part3 .board {
    position: absolute;
    width: 62%;
    -moz-border-radius: 0.6em;
    /* Firefox */
    -webkit-border-radius: 0.6em;
    /* Safari 和 Chrome */
    -o-border-radius: 0.6em;
    /* Safari 和 Chrome */
    border-radius: 0.6em;
    /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    background: rgba(0, 0, 0, 0.5);
    top: 2em;
    right: 0;
    padding-top: 10px;
    bottom: 1em;
    overflow-y: scroll; }
    .main .part3 .board p {
      padding: 0.8em 1.2em;
      color: #ccc;
      line-height: 1.4em;
      font-size: 0.8em; }
  .main .part3 h2 {
    position: absolute;
    border-bottom: 2px solid #eee;
    padding-bottom: 3px;
    left: 0.6em;
    top: 1.6em;
    color: #eee;
    text-shadow: 5px 2px 6px #333;
    font-size: 1.5em; }
  .main .part3 h3 {
    position: absolute;
    padding-bottom: 3px;
    left: 3.6em;
    top: 6.2em;
    color: #eee;
    text-shadow: 5px 2px 6px #333;
    font-size: 0.8em; }
  .main .part4 {
    margin-top: -0.3em; }
    .main .part4 h2 {
      position: absolute;
      border-bottom: 2px solid #eee;
      padding-bottom: 3px;
      right: 1em;
      top: 1.2em;
      color: #eee;
      text-shadow: 5px 2px 6px #333;
      font-size: 1.5em; }
    .main .part4 h3 {
      position: absolute;
      padding-bottom: 3px;
      right: 5.2em;
      top: 5.2em;
      color: #eee;
      text-shadow: 5px 2px 6px #333;
      font-size: 0.8em; }
    .main .part4 .board {
      position: absolute;
      -moz-border-radius: 0.5em;
      /* Firefox */
      -webkit-border-radius: 0.5em;
      /* Safari 和 Chrome */
      -o-border-radius: 0.5em;
      /* Safari 和 Chrome */
      border-radius: 0.5em;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
      width: 60%;
      background: rgba(42, 134, 212, 0.6);
      top: 2em;
      left: 0;
      bottom: 0.2em;
      overflow: hidden; }
      .main .part4 .board p {
        padding: 5% 10%;
        color: #ccc;
        line-height: 2em; }
      .main .part4 .board h4 {
        position: relative;
        left: 10%;
        margin-top: 5%;
        color: #eee;
        font-size: 1em; }
      .main .part4 .board table {
        color: #eee;
        width: 66%;
        margin: 0.2em auto; }
        .main .part4 .board table tr {
          border-bottom: 1px dashed #eee; }
        .main .part4 .board table td {
          font-size: 0.7em;
          padding: 0.3em 0.5em; }

footer {
  position: relative;
  background: linear-gradient(to bottom, #372922 0%, #281911 100%);
  background: -moz-linear-gradient(to bottom, #372922 0%, #281911 100%);
  background: -webkit-linear-gradient(to bottom, #372922 0%, #281911 100%);
  background: -o-linear-gradient(to bottom, #372922 0%, #281911 100%);
  color: #8d8b8b;
  padding: 2em 2em;
  font-size: 0.8em;
  margin-top: 3.2em; }
  footer .go-top {
    position: absolute;
    right: 6%;
    top: 3%;
    color: #8b8d8d; }
  footer ul {
    position: relative;
    left: 1em; }
  footer li {
    line-height: 2em; }
  footer .address h2 {
    padding: 1em;
    text-indent: 0.8em;
    font-size: 1.3em;
    background-image: url("../img/address.png");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: 0.2em 1.1em; }
  footer .phone h2 {
    padding: 1em;
    text-indent: 0.8em;
    font-size: 1.3em;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: 0.2em 1.1em; }
  footer .copyright p {
    position: relative;
    margin-top: 2em; }
  footer h4 {
    margin: 2em auto;
    margin-bottom: 0em;
    font-size: 1em;
    color: #eee;
    background-image: url("../img/weixin.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 12em;
    width: 10em;
    background-position: 0 1.8em;
    text-indent: 1.5em; }

/*# sourceMappingURL=main.css.map */
