$navColor: #58372b; //导航条背景色
$menuItemColor: #46332c; //导航条选中元素背景色
@mixin gradientColor($direction,$sColor,$eColor) {
  background: linear-gradient($direction, $sColor 0%, $eColor 100%);
  background: -moz-linear-gradient($direction, $sColor 0%, $eColor 100%);
  background: -webkit-linear-gradient($direction, $sColor 0%, $eColor 100%);
  background: -o-linear-gradient($direction, $sColor 0%, $eColor 100%);
}
@mixin borderRadius($arg){
  -moz-border-radius: $arg; /* Firefox */
  -webkit-border-radius: $arg; /* Safari 和 Chrome */
  -o-border-radius: $arg; /* Safari 和 Chrome */
  border-radius: $arg; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
body{
  width:100%;
  font-size: 16px;
}
.container {
  width: 100%;
  overflow: hidden;
  margin-left: -0.05em;
}

$topColorValues: to left, #c79081, #dfa579; //渐变参数
.top {
  @include gradientColor($topColorValues...);
  text-align: center;
}

.top {
  position: fixed;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform:translateZ(0);
  z-index: 9999;
  right:0;
  left: 0;
  top: 0;
  .bars {
    position: absolute;
    left: 6%;
    top: 36%;
    color: #efefef;
  }
  h1 {
    display: inline-block;
    text-indent: 1.2em;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 1em 0.8em;
    padding: 0.8em 1em;
    color: #efefef;
    font: {
      size: 1em;
    }
  }
}

@mixin awesomeFont($type,$color,$fontSize:1.2em) { //awesomeFont图标
  content: $type;
  color: $color;
  font-size: $fontSize;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
}

nav {
  position: fixed;
  z-index: 999;
  background: $navColor;
  width: 50%;
  left: -50%;
  //left: 0;
  bottom: 0;
  li {
    line-height: 3.6em;
    a {
      position: relative;
      display: inline-block;
      width: 100%;
      text-indent: 33%;
      border-left: 0.4em solid transparent;
      font-size: 0.8em;
      &.actived {
        background: $menuItemColor;
        border-left: 0.4em solid #C99280;
      }
      &.home-link:before {
        @include awesomeFont("\f015", #fff, 1.3em);
        /*--adjust as necessary--*/
        //padding-right: 0.5em;
        left: -1.2em;
      }
      &.joinus-link:before {
        @include awesomeFont("\f2be", #fff, 1.2em);
        left: -1.3em;
        top: 0.1em;
      }
      &.story-link:before {
        @include awesomeFont("\f02d", #fff, 1.2em);
        left: -1.3em;
        top: 0.1em;
      }
      &.contact-link:before{
        @include awesomeFont("\f095", #fff, 1.2em);
        left: -1.3em;
        top: 0.1em;
      }
    }
    &:after {
      @include awesomeFont("\f105", #fff);
      /*--adjust as necessary--*/
      //padding-right: 6%;
      right: 10%;
    }
  }
}

@mixin setSlogan($size,$dir,$x,$y) {
  position: absolute;
  width: $size;
  @if ($dir == 'ul') {
    left: $x;
    top: $y;
  } @else if ($dir == 'ur') {
    right: $x;
    top: $y;
  } @else if ($dir == 'bl') {
    left: $x;
    bottom: $y;
  } @else if ($dir == 'br') {
    right: $x;
    bottom: $y;
  }
}

@mixin textSloganSet($subT,$dir,$x,$y,$size){
  position: absolute;
  @if $subT=='true' {
    border-bottom: 2px solid #eee;
  }
  padding-bottom: 3px;
  @if ($dir == 'ul') {
    left: $x;
    top: $y;
  } @else if ($dir == 'ur') {
    right: $x;
    top: $y;
  } @else if ($dir == 'bl') {
    left: $x;
    bottom: $y;
  } @else if ($dir == 'br') {
    right: $x;
    bottom: $y;
  }
  color: #eee;
  text-shadow: 5px 2px 6px #333;
  font: {
    size: $size;
  }
}
.main {
  height: auto;
  position: relative;
  padding: 0;
  .part-bg {
    width: 100%;
  }
  .block { //去除底部空隙
    position: relative;
    margin-bottom: -0.15em;
  }
  .part1 { //第一部分
    .img-food {
      position: absolute;
      width: 42%;
      right: 1em;
      top: 1em;
    }
    h2{
      @include textSloganSet(false,'ul',3.8em,1.8em,1em);
      font-weight: 600;
    }
    .slogan1 {
      @include setSlogan(30%, 'ul', 3em, 4em);
    }
    .reservate{
      position: absolute;
      left:20%;
      top:36%;
      background:rgba(66,66,66,0.7) ;
      padding:0.3em 0.8em;
      font-size: 1em;
      @include borderRadius(0.4em);
      box-shadow:inset 0 0 40px 5px rgba(0,0,0,.3),0 0 2px 1px rgba(0,0,0,.5);
      text-shadow: 1px 1px 1px #000;
      margin:10px 10px 20px;
      display:block;
      float:left;
      background:#CC9480;
      text-align:center;
      line-height:40px;
    }
  }
  .part2 {
    .img-food2 {
      position: absolute;
      width: 50%;
      left: 12%;
      bottom: 0;
    }
    .slogan1 {
      @include setSlogan(40%, 'ur', 12%, 30%);
    }
    .slogan2 {
      @include setSlogan(38%, 'ur', 12.5%, 52%);
    }
    .slogan3 {
      @include setSlogan(36%, 'ur', 15%, 60%);
    }
  }
  .part3 {
    .board {
      position: absolute;
      width: 62%;
      @include borderRadius(0.6em);
      background: rgba(0, 0, 0, .5);
      top: 2em;
      right: 0;
      padding-top: 10px;
      bottom: 1em;
      overflow-y: scroll;
      p {
        padding: 0.8em 1.2em;
        color: #ccc;
        line-height: 1.4em;
        font-size: 0.8em;
      }
    }
    $h2posX:0.6em;
    $h2posY:1.6em;
    h2 {
      @include textSloganSet('true','ul',$h2posX,$h2posY,1.5em);
    }
    h3 {
      @include textSloganSet('false','ul',$h2posX+3em,$h2posY+4.6em,0.8em);
    }
  }
  .part4{
    margin-top:-0.3em;
    h2 {
      @include textSloganSet('true','ur',1em,1.2em,1.5em);
    }
    h3 {
      @include textSloganSet('false','ur',5.2em,5.2em,0.8em);
    }
    .board {
      position: absolute;
      @include borderRadius(0.5em);
      width: 60%;
      background: rgba(42, 134, 212, .6);
      top: 2em;
      left: 0;
      bottom: 0.2em;
      overflow: hidden;
      p {
        padding: 5% 10%;
        color: #ccc;
        line-height: 2em;
      }
      h4{
        position: relative;
        left:10%;
        margin-top:5%;
        color:#eee;
        font-size:1em;
      }
      table{
        color:#eee;
        width:66%;
        margin:0.2em auto;
        tr{
          border-bottom: 1px dashed #eee;
        }
        td{
          font-size: 0.7em;
          padding: 0.3em 0.5em;
        }
      }
    }//board end
  }
}
@mixin footItemIconSet($url){
  padding:1em;
  text-indent: 0.8em;
  font-size:1.3em;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 0.2em 1.1em;
}
$footColorValues: to bottom, #372922, #281911; //渐变参数
footer{
  position: relative;
  @include gradientColor($footColorValues...);
  color:#8d8b8b;
  padding:2em 2em;
  font-size: 0.8em;
  margin-top:3.2em;
  .go-top{
    position: absolute;
    right: 6%;
    top:3%;
    color:#8b8d8d;
  }
  ul{
    position: relative;
    left:1em;
  }
  li{
    line-height: 2em;
  }
  .address{
    h2{
      @include footItemIconSet('../img/address.png');
    }
  }
  .phone{
    h2{
      @include footItemIconSet('../img/phone.png');
    }

  }
  .copyright {

    p{
      position: relative;
      margin-top:2em;
    }

  }
  h4{
    //position: absolute;
    margin:2em auto;
    margin-bottom: 0em;
    font-size: 1em;
    color:#eee;
    background-image: url("../img/weixin.jpg");
    background-repeat: no-repeat;
    background-size:100% ;
    height:12em;
    width:10em;
    background-position: 0 1.8em;
    text-indent: 1.5em;
  }
}