$navColor: #58372b; //导航条背景色
$menuItemColor: #46332c; //导航条选中元素背景色
@mixin gradientColor($direction,$sColor,$eColor) {
  background: linear-gradient($direction, $sColor 0%, $eColor 100%);
  background: -moz-linear-gradient($direction, $sColor 0%, $eColor 100%);
  background: -webkit-linear-gradient($direction, $sColor 0%, $eColor 100%);
  background: -o-linear-gradient($direction, $sColor 0%, $eColor 100%);
}
@mixin borderRadius($arg){
  -moz-border-radius: $arg; /* Firefox */
  -webkit-border-radius: $arg; /* Safari 和 Chrome */
  -o-border-radius: $arg; /* Safari 和 Chrome */
  border-radius: $arg; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
body {
  min-width: 600px;
}

.container {
  min-width: 300px;
  width: 100%;
  overflow: hidden;
  margin-left: -0.05em;
}

$topColorValues: to left, #c79081, #dfa579; //渐变参数
.top {
  @include gradientColor($topColorValues...);
  text-align: center;
}

.top {
  position: fixed;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
  .bars {
    position: absolute;
    left: 6%;
    top: 36%;
    color: #efefef;
  }
  h1 {
    display: inline-block;
    text-indent: -1.2em;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 0em 0.6em;
    padding: 0.8em 3em;
    color: #efefef;
    font: {
      size: 120%;
    }
  }
}

@mixin awesomeFont($type,$color,$fontSize:1.2em) { //awesomeFont图标
  content: $type;
  color: $color;
  font-size: $fontSize;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
}

nav {
  position: fixed;
  z-index: 999;
  background: $navColor;
  width: 39%;
  left: -39%;
  //left: 0;
  bottom: 0;
  li {
    line-height: 5em;
    a {
      position: relative;
      display: inline-block;
      width: 100%;
      text-indent: 33%;
      border-left: 0.4em solid transparent;
      &.actived {
        background: $menuItemColor;
        border-left: 0.4em solid #C99280;
      }
      &.home-link:before {
        @include awesomeFont("\f015", #fff, 1.3em);
        /*--adjust as necessary--*/
        //padding-right: 0.5em;
        left: -1.2em;
      }
      &.joinus-link:before {
        @include awesomeFont("\f2be", #fff, 1.2em);
        left: -1.3em;
        top: 0.1em;
      }
      &.story-link:before {
        @include awesomeFont("\f02d", #fff, 1.2em);
        left: -1.3em;
        top: 0.1em;
      }
    }
    &:after {
      @include awesomeFont("\f105", #fff);
      /*--adjust as necessary--*/
      //padding-right: 6%;
      right: 10%;
    }
  }
}

@mixin setSlogan($size,$dir,$x,$y) {
  position: absolute;
  width: $size;
  @if ($dir == 'ul') {
    left: $x;
    top: $y;
  } @else if ($dir == 'ur') {
    right: $x;
    top: $y;
  } @else if ($dir == 'bl') {
    left: $x;
    bottom: $y;
  } @else if ($dir == 'br') {
    right: $x;
    bottom: $y;
  }
}


.main {
  height: auto;
  position: relative;
  padding: 0;
  .part-bg {
    width: 100%;
  }
  .block { //去除底部空隙
    position: relative;
    margin-bottom: -0.15em;
  }
  .part1 { //第一部分
    .img-food {
      position: absolute;
      width: 40%;
      right: 12%;
      top: 15%;
    }
    .slogan1 {
      @include setSlogan(26%, 'ul', 21%, 22%);
    }
    $ssPos:62%;
    .slogan2 {
      //@include setSlogan(16%,'ul',21%,36%);
      @include setSlogan(6%, 'ul', 29%, $ssPos);
    }
    .slogan3 {
      //@include setSlogan(12%,'ul',26%,56%);
      @include setSlogan(6%, 'ul', 35%, $ssPos);
    }
    .slogan4 {
      //@include setSlogan(15%,'ul',37%,42%);
      @include setSlogan(6%, 'ul', 41%, $ssPos);
    }
    .reservate{
      position: absolute;
      left:23%;
      top:37%;
      background:rgba(66,66,66,0.7) ;
      padding:0.5em 0.7em;
      font-size: 1.8em;
      @include borderRadius(0.4em);
    }
  }
  .part2 {
    .img-food2 {
      position: absolute;
      width: 50%;
      left: 12%;
      bottom: 0;
    }
    .slogan1 {
      @include setSlogan(26%, 'ur', 20%, 30%);
    }
    .slogan2 {
      @include setSlogan(30%, 'ur', 15.5%, 47%);
    }
    .slogan3 {
      @include setSlogan(30%, 'ur', 15.8%, 54%);
    }
  }
  .part3 {
    .board {
      position: absolute;
      width: 62%;
      background: rgba(0, 0, 0, .5);
      top: 15%;
      right: 0;
      padding-top: 10px;
      bottom: 10%;
      overflow-y: scroll;
      p {
        padding: 5% 10%;
        color: #ccc;
        line-height: 2em;
      }
    }
    h2 {
      position: absolute;
      border-bottom: 2px solid #eee;
      padding-bottom: 3px;
      top: 20%;
      left: 10%;
      color: #eee;
      text-shadow: 5px 2px 6px #000;
      font: {
        size: 2em;
      }
    }
    h3 {
      position: absolute;
      top: 36%;
      left: 20%;
      color: #eee;
      text-shadow: 5px 2px 6px #000;
      font: {
        size: 1em;
      }
    }
  }
  .part4{
    margin-top:-0.3em;
    h2 {
      position: absolute;
      border-bottom: 2px solid #eee;
      padding-bottom: 3px;
      top: 20%;
      right: 8%;
      color: #eee;
      text-shadow: 5px 2px 6px #000;
      font: {
        size: 2em;
      }
    }
    h3 {
      position: absolute;
      top: 34%;
      right: 18%;
      color: #eee;
      text-shadow: 5px 2px 6px #000;
      font: {
        size: 1em;
      }
    }
    .board {
      position: absolute;
      @include borderRadius(0.5em);
      width: 66%;
      background: rgba(42, 134, 212, .6);
      top: 0;
      left: 0;
      padding-top: 10px;
      bottom: 0.2em;
      overflow-y: scroll;
      p {
        padding: 5% 10%;
        color: #ccc;
        line-height: 2em;
      }
      h4{
        position: relative;
        left:10%;
        margin-top:5%;
        color:#eee;
        font-weight: 600;
        font-size:1.2em;
      }
      table{
        color:#eee;
        width:70%;
        margin:1em auto;
        tr{
          border-bottom: 1px dashed #eee;
        }
        td{
          padding: 1em;
          a{
            font-size: 0.4em;
            padding:0.3em;
            border:1px solid #eee;
          }
        }
      }
    }//board end
  }
}
@mixin footItemIconSet($url){
  padding:1em;
  text-indent: 0.8em;
  font-size:1.3em;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 0em 1em;
}
$footColorValues: to bottom, #372922, #281911; //渐变参数
footer{
  position: relative;
  @include gradientColor($footColorValues...);
  color:#8d8b8b;
  padding:2em 5em;
  margin-top:3.2em;
  .go-top{
    position: absolute;
    right: 3%;
    top:3%;
    color:#8b8d8d;
  }
  ul{
    position: relative;
    left:1em;
  }
  li{
    line-height: 2em;
  }
  .address{
    h2{
      @include footItemIconSet('../img/address.png');
    }
  }
  .phone{
    h2{
      @include footItemIconSet('../img/phone.png');
    }

  }
  .copyright {

    p{
      position: relative;
      margin-top:2em;
    }

  }
  h4{
    position: absolute;
    font-size: 1.2em;
    color:#eee;
    right: 13%;
    bottom:9%;
    background-image: url("../img/weixin.jpg");
    background-repeat: no-repeat;
    background-size:100% ;
    height:45%;
    width:25%;
    background-position: 0 1.8em;
    text-indent: 1.5em;
  }
}